<div class="player" *ngFor="let player of players">
  <span class="name">{{ player.name }}</span>
  <div class="d--f g--0-5">
    <div class="rack">
      <app-tile-display
        *ngFor="let tile of player.rack"
        [tile]="tile"
      ></app-tile-display>
    </div>
    <span class="score as--c mat-elevation-z2">{{ player.score }}</span>
    <mat-icon
      *ngIf="winners.includes(player)"
      class="winner-trophy as--c"
      color="accent"
      >emoji_events</mat-icon
    >
  </div>
</div>
