@import "../../../styles/styles.scss";

.player {
  padding: 0.5rem;

  .rack {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    background: #232323;
    border-bottom: 12px solid #161616;
    height: 2.5rem;
    width: 20.5rem;

    app-tile-display {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  .score {
    font-size: xx-large;
    background-color: $primary-color;
    border-radius: 2rem;
    padding: 0.5rem;
  }

  .winner-trophy {
    font-size: 3rem;
    width: unset;
    height: unset;
  }
}
