<mat-card>
  <mat-card-content *ngIf="game$ | async as game">
    <div id="wrapper" class="d--f ai--fs">
      <div id="left" class="d--f fd--c">
        <div id="config" class="d--if g--0-5">
          <mat-form-field appearance="outline">
            <mat-label>Seed</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="randomSeed"
              min="1"
              max="10000"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Think time</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="botThinkTimeMs"
              min="0"
              max="10000"
            />
            <span matSuffix>ms</span>
          </mat-form-field>
          <button
            mat-icon-button
            color="accent"
            (click)="pauseGame$.next(!pauseGame$.value)"
          >
            <mat-icon>{{ pauseGame$.value ? "play_arrow" : "pause" }}</mat-icon>
          </button>
        </div>
        <table class="board">
          <tbody>
            <tr *ngFor="let row of game.board.grid">
              <td *ngFor="let square of row">
                <div
                  class="square"
                  [ngClass]="square.multiplier | multiplierClass"
                  [class.selected]="square.isSelected"
                >
                  <span class="label" *ngIf="square.multiplier as multiplier">
                    {{ multiplier.value
                    }}{{ MultiplierKind[multiplier.kind][0] | uppercase }}
                  </span>
                  <app-tile-display
                    *ngIf="square.tile as tile"
                    [tile]="tile"
                    (click)="gameManager.toggleTileMoveSelection(game, tile)"
                  ></app-tile-display>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Moves"
          ><app-moves-display
            [moves]="game.moves"
            (moveClicked)="gameManager.toggleMoveSelection(game, $event)"
          ></app-moves-display
        ></mat-tab>
        <mat-tab label="Players"
          ><app-players-display
            [players]="game.players"
            [winners]="game.winners"
          ></app-players-display>
          <div class="pile d--f fw--w">
            <app-tile-display
              *ngFor="let tile of game.tileSet.pile"
              [tile]="tile"
            ></app-tile-display>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div> </mat-card-content
></mat-card>
