<div class="wrapper d--f fd--c">
  <div
    class="move d--f"
    [class.selected]="move.isSelected"
    *ngFor="let move of moves; index as moveIndex"
    matRipple
    (click)="moveClicked.emit(move)"
  >
    <div class="number-column d--f fd--c">
      <span class="move-number">{{ moveIndex + 1 }}</span>
      <span class="player">{{ move.player.name }}</span>
    </div>
    <div class="score-column d--f">
      <span class="score">{{ move.score }}</span>
    </div>
    <div class="words-column d--f fd--c ai--fs">
      <span
        class="word main d--if"
        [matTooltip]="move.moveWord.word.definition ?? ''"
        ><span class="score">{{ move.moveWord.score }}</span
        ><span class="text">{{ move.moveWord.word.text }}</span></span
      >
      <div class="subwords d--f">
        <span
          class="word sub d--if"
          *ngFor="let subWord of move.connectedWords"
          [matTooltip]="subWord.word.definition ?? ''"
          ><span class="score">{{ subWord.score }}</span
          ><span class="text">{{ subWord.word.text }}</span></span
        >
      </div>
    </div>
  </div>
</div>
